body{
    margin: 0;
    padding: 0;
  }

.bg{
    background-image: url('https://images.unsplash.com/photo-1443694910004-3567042689f5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1047&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.bg-2{
  background-image: url('https://images.unsplash.com/photo-1514527893004-f77d3d773644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1101&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  z-index: -1;
  font-family: 'Roboto', sans-serif;
}

#search-page h1{
  font-family: 'Major Mono Display', monospace;
  position: absolute;
  top: 29%;
  left: 15%;
  font-weight: bold;
  font-size: 2em;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

  .search-wrapper {
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
  }
  
  .search-box {
    width: 7em;
    height: 1em;
    position: relative;
    left: 8em;
  }
  
  .input {
    position: absolute;
    top: .6em;
    right: 50px;
    box-sizing: border-box;
    width: 0px;
    height: 3.5rem;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: white;
    border: 3px solid dark darkblue;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.8s ease; 
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: white;
  }
  :-moz-placeholder {
    /* Firefox 18- */
    color: white;
  }
  
  .btn {
    position: absolute;
    width: 3em;
    height: 3em;
    background: darkblue;
    border-radius: 50%;
    right: 60px;
    top: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 80px;
    font-size: 1.2em;
    color: #fff;
    transition: all 0.8s ease;
  }

  .fa, .fas {
    font-weight: 900;
    position: absolute;
    top: 1.1em;
    right: 1em;
}
  
  .input.active {
    width: 12em;
    right: 100px;
  }
  
  .btn.animate {
    transform: rotate(-360deg);
    right: 100px;
  } 

  .isEmpty{
    border-color: red;
  }


  /* weather page style */
  #back {
    width: 25%;
    padding-top: .5%;
    font-size: 1em;
    padding-bottom: .5%;
    position: absolute;
    left: 10%;
    top: 4%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    opacity: 0.6;
    border: none;
    color: black;
    border-radius: 10px;
}

  button:focus {
    outline: 0;
  }

  .head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 15%;
    left: 14%;
    width: 70%;
  }
  .head div{
    display: inline-block;
    color: white;
  }
  .head #time{
    text-align: right;
  }
/* .head div:last-child{
  padding-left: 73%;
} */
.weather-page-wrapper {
  color: white;
  display: grid;
  width: 80%;
  position: absolute;
  top: 18%;
  left: 10%;
  grid-template-columns: 1fr .7fr;
  grid-column-gap: 5px;
}

  .left{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
  }

  .left #top{
    display: grid;
    grid-template-columns: 1fr .5fr;
    background-color: rgba(0,0,0,0.3);
    padding-top: 1em;
  }
  .left ul{
    padding: .5em;
  }
  .left .icon{
    padding-top: 3em;
    padding-right: 1em;
    padding-left: .3em;
  }
  .right .icon{
    padding-right: 2em;
    padding-top: 2em;
  }
  .left #bottom{
    display: grid;
    grid-template-columns: 1fr .5fr;
    background-color: rgba(0,0,0,0.3);
    padding-top: 1em;
  }
  .right{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
  } 
  .right ul li{
    line-height: 1.1em;
  }

  .right ul{
     padding: 1em .8em 1em .5em;
  }

  .right ul li:first-child,.right ul li:last-child{
    font-size: .5em;
  }

  .right ul li:nth-child(even){
    font-size: .7em;
    font-weight: bold;
  }
  
  #icon{
    padding-top: 19%;
    font-size: 3em;
  }
  
  #day{
    text-transform: uppercase;
    font-size: .9em;
  }
  #right-temp{
    font-size: 1.2em;
    font-weight: bold;
  }
  #right-climate{
    font-size: .9em;
  }

  #part-1 ,#part-2 ,#part-3 ,#part-4 {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0,0,0,0.3);
  }
  
  .left ul li{
    list-style: none;
    padding: 2%;
  }
  .right ul li{
    list-style: none;
  }


  #currently,#forecast{
    font-size: .8em;
  }
  #temperature,#forecastTemp{
    font-size: 1.5em;
    font-weight: bold;
  }
  #climate,#forecast-climate{
    font-size: .8em;
  }

  #wind,#forecast-Wind{
    padding-top: 10%;
    font-size: .7em
  }
  #humidy,#forecast-Humidy{
    font-size: .7em;
  }

  .isVisible{
    display: none;
  }

  #current-icon,#forecast-icon{
    width: 3em;
  }
  #icon1,#icon2,#icon3,#icon4{
    width: 2em;
  }
 


/* Make responsive */

  @media only screen and (min-width: 700px) {
    #search-page h1 {
      font-size: 4em;
    }
    .search-wrapper {
      top: 46%;
      left: 59%;
    } 
    .btn {
      width: 4.5em;
      height: 4.5em; 
      top: 0;   
    }
    .fa-search:before {
      font-weight: 900;
      position: absolute;
      top: .5em;
      right: .7em;
    }
    .input.active {
      width: 20em;
    }
    .input{
      height: 4rem;
    }

    /* Weather display page */
    #currently, #forecast {
      font-size: 1.4em;
    }
    #temperature, #forecastTemp {
      font-size: 2em;
    }
    #climate, #forecast-climate {
      font-size: 1.4em;
    }
    #wind, #forecast-Wind {
      font-size: 1.1em;
   }
   #humidy, #forecast-Humidy {
    font-size: 1.1em;
    }
    #current-icon, #forecast-icon {
      width: 7em;
    }
    .right ul li:first-child, .right ul li:last-child {
      font-size: 1.2em;
    }
    .right ul li:nth-child(even) {
      font-size: 1.4em;
    }
    #icon1, #icon2, #icon3, #icon4 {
      width: 4.5em;
    }
    .head {
      top: 14%;
      font-size: 1.8em;
    }
    #back{
      font-size: 1.8em;
    }
  }

  @media only screen and (min-width: 800px){
    #search-page h1 {
      font-size: 6em;
    }
    .btn {
      width: 6em;
      height: 6em;
    }
    .search-box {
      left: 12em;
    }
    .fa-search:before {
        font-size: 2em;
        top: .4em;
        right: .5em;
    }
    .input.active {
      width: 28em;
      height: 5.5em;
    }
  }

  @media only screen and (min-width: 1200px){
    #search-page h1 {
        font-size: 5em;
        left: 27%;
    }
    .search-wrapper{
     left: 47em;
     top: 23em;
    }

    /* Weather page responsive */
    #currently, #forecast {
      font-size: 1em;
    }
    #temperature, #forecastTemp {
      font-size: 1.5em;
    }
    #climate, #forecast-climate {
      font-size: 1.4em;
    }
    #wind, #forecast-Wind {
      font-size: .9em;
   }
   #humidy, #forecast-Humidy {
    font-size: .9em;
    }
    #current-icon, #forecast-icon {
      width: 8em;
    }
    .right ul li:first-child, .right ul li:last-child {
      font-size: 1em;
    }
    .right ul li:nth-child(even) {
      font-size: 1.2em;
    }
    #icon1, #icon2, #icon3, #icon4 {
      width: 4.5em;
    }
    .head {
      top: 14%;
      font-size: 1.4em;
    }
    #back{
      font-size: 1.2em;
      width: 15%
    }
  }